<ion-header [translucent]="true">
  <ion-toolbar>
    <a href="http://localhost:8100/home"><ion-icon name="arrow-back-circle-sharp" class="custom-icon" slot="start" style="float:left; margin-left:10px;"></ion-icon></a>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides [option]="option" class="ion-margin-top">

    <ion-slide>
      <ion-card>
        <img src="assets/APART9/A9.1.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/APART9/A9.2.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/APART9/A9.3.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/APART9/A9.4.jpg">
      </ion-card>
    </ion-slide>

    </ion-slides>
      <ion-card-title>
        <h1>OBET'S APARTMNET</h1>
      </ion-card-title>

      <div class="title">
              <p>Php9,000</p>
              <p>Uranus Street</p>
              <p>Apartment<br></p>
      </div>

      <ion-card-content>
        Uranus St., Alangilan, Batangas City<br>
        0912 345 3625 / 0947 325 2765<br>
        Facebook Name: Obet Manalo<br>
        Availability: Not Available<br>
        <br>
      
      
        <ion-text style="font-weight: bold;"> Description:<br></ion-text>

        3 bedrooms<br>
        1 Restroom<br>
        1 Shower Room<br>
        Kitchen<br>
        Laundry Area<br>
  

       
        <ion-text style="font-weight: bold;">Inclusions:<br></ion-text>
        Free Wifi<br>
    
      
        <br>
        <ion-text style="font-weight: bold;">Note: <br></ion-text>
        One month advance<br>
        One month deposit <br>
        Electricity and water bill are not included<br>
        
    
       
     </ion-card-content>
        <br>
        <div class="ion-text-center">
        <ion-button block class="ion-text-center"(click)="ViewRouteG()" fill="outline" color="light">VIEW ROUTE GUIDE</ion-button>
        </div><br>
  
</ion-content>
