<ion-header>
  <ion-toolbar >
    <a href="http://localhost:8100/filter3"><ion-icon name="arrow-back-circle-sharp" slot="start" class="custom-icon" style="float:left; margin-left:10px;"></ion-icon></a>
   <ion-title>BEDSPACES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets\APART1\A1.1.jpg" />
    <ion-card-header>
      <ion-card-title>Genesis Bed Space</ion-card-title>
        <ion-card-subtitle>Galaxy Street<br>
          Php 2,000
        </ion-card-subtitle>
      <ion-item>
        <ion-button fill="outline" color="light"  href="http://localhost:8100/details">View Details</ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="assets\APART3\A3.1.jpg" />
    <ion-card-header>
      <ion-card-title>Loida Bedspace</ion-card-title>
        <ion-card-subtitle>Mars Street<br>
          Php 2,000
        </ion-card-subtitle>
      <ion-item>
        <ion-button fill="outline" color="light"  href="http://localhost:8100/details2">View Details</ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <img src="assets\APART5\A5.1.jpg" />
    <ion-card-header>
      <ion-card-title>Boss Bedspace</ion-card-title>
        <ion-card-subtitle>Earth Street<br>
          Php 2,500
        </ion-card-subtitle>
      <ion-item>
        <ion-button fill="outline" color="light" href="http://localhost:8100/details4">View Details</ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>
    
  <ion-card>
    <img src="assets\APART8\A8.4.jpg" />
    <ion-card-header>
      <ion-card-title>Melanie’s Bedspace</ion-card-title>
        <ion-card-subtitle>Mercury Street<br>
          Php 3,000
        </ion-card-subtitle>
      <ion-item>
        <ion-button fill="outline" color="light"  href="http://localhost:8100/details7">View Details</ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>

  
</ion-content>
