<ion-header>
  <ion-toolbar >
    <a href="http://localhost:8100/home"><ion-icon name="arrow-back-circle-sharp" slot="start" class="custom-icon"  style="float:left; margin-left:10px;"></ion-icon></a>
    <ion-title >FILTER BY STREET</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" cards-bg">

  <ion-card class="cards-list-demo">
    <ion-list>
            <div>
              <ion-button expand="full" shape="round" fill="outline" color="dark" href="http://localhost:8100/mercury">
                <ion-icon name="planet" item-start></ion-icon>
                 Mercury
              </ion-button>
            </div>

            <div>
              <ion-button expand="full" shape="round" fill="outline" color="dark" href="http://localhost:8100/venus">
                <ion-icon name='planet' item-start></ion-icon>
                 Venus
              </ion-button>
            </div>

            <div>
              <ion-button expand="full" shape="round" fill="outline" color="dark" href="http://localhost:8100/earth">
              <ion-icon name='planet' item-start></ion-icon>
               Earth
            </ion-button></div>

            <div>
              <ion-button expand="full" shape="round" fill="outline" color="dark" href="http://localhost:8100/mars">
                <ion-icon name='planet' item-start></ion-icon>
                Mars
              </ion-button>        
            </div>

            <div>
              <ion-button expand="full" shape="round" fill="outline" color="dark" href="http://localhost:8100/jupiter">
                <ion-icon name='planet' item-start></ion-icon>
                Jupiter
              </ion-button>
            </div>

            <div>
              <ion-button expand="full" shape="round" fill="outline" color="dark" href="http://localhost:8100/saturn">
                <ion-icon name='planet' item-start></ion-icon>
                Saturn
              </ion-button>
          </div>

            <div>
              <ion-button expand="full" shape="round" fill="outline" color="dark" href="http://localhost:8100/uranus">
                <ion-icon name='planet' item-start></ion-icon>
                Uranus
              </ion-button>
            </div>

            <div>
              <ion-button expand="full" shape="round" fill="outline" color="dark" href="http://localhost:8100/neptune">
                <ion-icon name='planet' item-start></ion-icon>
                Neptune
              </ion-button>
            </div>

            <div>
              <ion-button expand="full" shape="round" fill="outline" color="dark" href="http://localhost:8100/galaxy">
                <ion-icon name='planet' item-start></ion-icon>
                Galaxy
              </ion-button>
          </div>

            <div>
              <ion-button expand="full" shape="round" fill="outline" color="dark" href="http://localhost:8100/star">
                <ion-icon name='planet' item-start></ion-icon>
                Star
              </ion-button>
          </div>

    </ion-list>
  </ion-card>
  

</ion-content>