<ion-header>
  <ion-toolbar >
    <a href="http://localhost:8100/filter3"><ion-icon name="arrow-back-circle-sharp" slot="start" class="custom-icon" style="float:left; margin-left:10px;"></ion-icon></a>
   <ion-title>APARTMENTS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets\APART2\A2.1.jpg" />
    <ion-card-header>
      <ion-card-title>Nida’s Apartment</ion-card-title>
        <ion-card-subtitle>Neptune Street<br>
          Php 10,000
        </ion-card-subtitle>
      <ion-item>
        <ion-button fill="outline" color="light" href="http://localhost:8100/details1">View Details</ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="assets\APART9\A9.1.jpg" />
    <ion-card-header>
      <ion-card-title>Obet’s Apartment</ion-card-title>
        <ion-card-subtitle>Neptune Street<br>
          Php 9,000
        </ion-card-subtitle>
      <ion-item>
        <ion-button fill="outline" color="light" href="http://localhost:8100/details8">View Details</ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>
