<ion-header>
  <ion-toolbar >
    <a href="http://localhost:8100/filter3"><ion-icon name="arrow-back-circle-sharp" slot="start" class="custom-icon" style="float:left; margin-left:10px;"></ion-icon></a>
   <ion-title>BOARDING HOUSES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets\APART4\A4.1.jpg" />
    <ion-card-header>
      <ion-card-title>Eder’s Boarding House</ion-card-title>
        <ion-card-subtitle>Jupiter Street<br>
          Php 7,000
        </ion-card-subtitle>
      <ion-item>
        <ion-button color="light" fill="outline" href="http://localhost:8100/details3">View Details</ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="assets\APART7\A7.1.jpg" />
    <ion-card-header>
      <ion-card-title>Mae’s Boarding House</ion-card-title>
        <ion-card-subtitle>Saturn Street<br>
          Php 6,000
        </ion-card-subtitle>
      <ion-item>
        <ion-button  color="light" fill="outline" href="http://localhost:8100/details6">View Details</ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <img src="assets\APART6\A6.1.jpg" />
    <ion-card-header>
      <ion-card-title>Villa’s Boarding House</ion-card-title>
        <ion-card-subtitle>Venus Street<br>
          Php 9,000
        </ion-card-subtitle>
      <ion-item>
        <ion-button  color="light" fill="outline" href="http://localhost:8100/details5">View Details</ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>
    
  <ion-card>
    <img src="assets\APART10\A10.1.jpg" />
    <ion-card-header>
      <ion-card-title>Tamara Boarding House</ion-card-title>
        <ion-card-subtitle>Star Street<br>
          Php 8,000
        </ion-card-subtitle>
      <ion-item>
        <ion-button  color="light" fill="outline" href="http://localhost:8100/details9">View Details</ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>
