<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>FILTER BY STREET</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" cards-bg">

  <ion-card class="cards-list-demo">
    <ion-list>
      <ion-button block class="ion-margin-top"(click)="ViewDetails9()" fill="outline" color="dark">
        <ion-icon name='cart' item-start></ion-icon>
        Mercury
      </ion-button>
<br>
      <button ion-item>
        <ion-icon name='medical' item-start></ion-icon>
        Venus
      </button>
<br>
      <button ion-item>
        <ion-icon name='cafe' item-start></ion-icon>
        Earth
      </button>

      <button ion-item>
        <ion-icon name='paw' item-start></ion-icon>
        Mars
      </button>

      <button ion-item>
        <ion-icon name='beer' item-start></ion-icon>
        Jupiter
      </button>

      <button ion-item>
        <ion-icon name='planet' item-start></ion-icon>
        Saturn
      </button>

      <button ion-item>
        <ion-icon name='planet' item-start></ion-icon>
        Uranus
      </button>

      <button ion-item>
        <ion-icon name='planet' item-start></ion-icon>
        Neptune
      </button>

      <button ion-item>
        <ion-icon name='planet' item-start></ion-icon>
       Pluto
      </button>

      <button ion-item>
        <ion-icon name='planet' item-start></ion-icon>
        Galaxy
      </button>

      <button ion-item>
        <ion-icon name='planet' item-start></ion-icon>
        Star
      </button>



    </ion-list>
  </ion-card>

</ion-content>