<ion-header>
  <ion-toolbar>
    <a href="http://localhost:8100/details3"><ion-icon name="arrow-back-circle-sharp" class="custom-icon" slot="start" style="float:left; margin-left:10px;"></ion-icon></a>
    <ion-title>Route Guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
      <ion-slides [options]="sliderOpts" zoom>
        <ion-slide>
        <div class="swiper-zoom-container">
        <img src="assets/APART4/Eder Apartment.jpg">
        </div>
      </ion-slide>
      </ion-slides>
      
      <ion-slides [options]="sliderOpts" zoom>
        <ion-slide>
        <div class="swiper-zoom-container">
        <img src="assets/APART4/EderApartment2.jpg">
        </div>
      </ion-slide>
    </ion-slides>
    
</ion-content>
