<ion-header>
  <ion-toolbar >
    <a href="http://localhost:8100/filter2"><ion-icon name="arrow-back-circle-sharp" slot="start" class="custom-icon"  style="float:left; margin-left:10px;"></ion-icon></a>
    <ion-title >SATURN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets\APART7\A7.1.jpg" />
    <ion-card-header>

      <ion-card-title>Saturn Street</ion-card-title>
        <ion-card-subtitle>Mae’s Boarding House<br>
          Php 6,000
        </ion-card-subtitle>
      <ion-item>
        <ion-button fill="outline" color="light" href="http://localhost:8100/details6">View Details</ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>
