<ion-header>
  <ion-toolbar >
    <a href="http://localhost:8100/filter2"><ion-icon name="arrow-back-circle-sharp" slot="start" class="custom-icon"  style="float:left; margin-left:10px;"></ion-icon></a>
    <ion-title >VENUS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets\APART6\A6.1.jpg" />
    <ion-card-header>
      <ion-card-title>Venus Street</ion-card-title>
        <ion-card-subtitle>Villa’s Boarding House<br>
          Php 9,000
        </ion-card-subtitle>
      <ion-item>
        <ion-button block fill="outline" color="light" href="http://localhost:8100/details5">View Details</ion-button>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>
