<ion-header>
  <ion-toolbar >
    <a href="http://localhost:8100/home"><ion-icon name="arrow-back-circle-sharp" slot="start" class="custom-icon" style="float:left; margin-left:10px;"></ion-icon></a>
   <ion-title>UNIT TYPE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card href="http://localhost:8100/houses">
    <img src="assets\APART3\A3.1.jpg"/>
    <div class="card-title">Boarding Houses</div>
  </ion-card>

  <ion-card href="http://localhost:8100/apartment">
    <img src="assets\APART7\A7.1.jpg"/>
    <div class="card-title">Apartments</div>
  </ion-card>

  <ion-card href="http://localhost:8100/bed-space">
    <img src="assets\APART1\A1.4.jpg"/>
    <div class="card-title">Bedspaces</div>
  </ion-card>
</ion-content>
