<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title style="float:left; margin-left:7px;">All</ion-title>

    
    <a href="http://localhost:8100/login"><ion-icon name="person-add-sharp" class="custom-icon" slot="end" style="float:right; margin-right:20px;"></ion-icon></a>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" color="dark">
 <!--APARTMENT1-->


 <ion-card>
  <img src="assets/APART1/A1.1.jpg" alt="A1.1-logo">
</ion-card>
  <div class="title">
  <h1>GENESIS BEDSPACE</h1>
        <p>Php2, 000</p>
        <p>Galaxy Street</p>
        <p>Bedspace<br></p>
  </div>
  <div class="ion-margin-top">
    <ion-button block class="ion-margin-top"(click)="ViewDetails()" fill="outline" color="light">VIEW DETAILS</ion-button>
  </div>
  
  <!--APARTMENT2-->
<div class="ion-padding ion-text-center"></div>
<ion-card>
  <img src="assets/APART2/A2.1.jpg" alt="A2.1-logo">
</ion-card>
  <div class="title">
  <h1>NIDA'S APARTMENT</h1>
        <p>Php10, 000</p>
        <p>Neptune Street</p>
        <p>Apartment<br></p>
  </div>
  <div class="ion-margin-top">
    <ion-button block class="ion-margin-top"(click)="ViewDetails1()" fill="outline" color="light">VIEW DETAILS</ion-button>
  </div>

  <!--APARTMENT3-->
  <div class="ion-padding ion-text-center"></div>
<ion-card>
  <img src="assets/APART3/A3.1.jpg" alt="A3.1-logo">
</ion-card>
  <div class="title">
  <h1>LOIDA'S BEDSPACE</h1>
        <p>Php2, 000</p>
        <p>Mars Street</p>
        <p>Bedspace<br></p>
  </div>
  <div class="ion-margin-top">
    <ion-button block class="ion-margin-top"(click)="ViewDetails2()" fill="outline" color="light">VIEW DETAILS</ion-button>
  </div>

   <!--APARTMENT4-->
   <div class="ion-padding ion-text-center"></div>
   <ion-card>
     <img src="assets/APART4/A4.1.jpg" alt="A4.1-logo">
   </ion-card>
     <div class="title">
     <h1>EDER'S BOARDING HOUSE</h1>
           <p>Php7, 000</p>
           <p>Jupiter Street</p>
           <p>Boarding House<br></p>
     </div>
     <div class="ion-margin-top">
       <ion-button block class="ion-margin-top"(click)="ViewDetails3()" fill="outline" color="light">VIEW DETAILS</ion-button>
     </div>

     
      <!--APARTMENT5-->
  <div class="ion-padding ion-text-center"></div>
  <ion-card>
    <img src="assets/APART5/A5.1.jpg" alt="A5.1-logo">
  </ion-card>
    <div class="title">
    <h1>BOSS BEDSPACE</h1>
          <p>Php2, 500</p>
          <p>Earth Street</p>
          <p>Bedspace<br></p>
    </div>
    <div class="ion-margin-top">
      <ion-button block class="ion-margin-top"(click)="ViewDetails4()" fill="outline" color="light">VIEW DETAILS</ion-button>
    </div>
  
    <!--APARTMENT6-->
  <div class="ion-padding ion-text-center"></div>
  <ion-card>
    <img src="assets/APART6/A6.1.jpg" alt="A5.1-logo">
  </ion-card>
    <div class="title">
    <h1>VILLA'S BOARDING HOUSE</h1>
          <p>Php9, 000</p>
          <p>Venus Street</p>
          <p>Boarding House<br></p>
    </div>
    <div class="ion-margin-top">
      <ion-button block class="ion-margin-top"(click)="ViewDetails5()" fill="outline" color="light">VIEW DETAILS</ion-button>
    </div>

    <!--APARTMENT7-->
  <div class="ion-padding ion-text-center"></div>
  <ion-card>
    <img src="assets/APART7/A7.1.jpg" alt="A7.1-logo">
  </ion-card>
    <div class="title">
    <h1>MAE'S BOARDING HOUSE</h1>
          <p>Php6, 000</p>
          <p>Saturn Street</p>
          <p>Boarding House<br></p>
    </div>
    <div class="ion-margin-top">
      <ion-button block class="ion-margin-top"(click)="ViewDetails6()" fill="outline" color="light">VIEW DETAILS</ion-button>
    </div>

    <!--APARTMENT8-->
  <div class="ion-padding ion-text-center"></div>
  <ion-card>
    <img src="assets/APART8/A8.1.jpg" alt="A8.1-logo">
  </ion-card>
    <div class="title">
    <h1>MELANIE'S BEDSPACE</h1>
          <p>Php3, 000</p>
          <p>Mercury Street</p>
          <p>Bedspace<br></p>
    </div>
    <div class="ion-margin-top">
      <ion-button block class="ion-margin-top"(click)="ViewDetails7()" fill="outline" color="light">VIEW DETAILS</ion-button>
    </div>

    <!--APARTMENT9-->
  <div class="ion-padding ion-text-center"></div>
  <ion-card>
    <img src="assets/APART9/A9.1.jpg" alt="A9.1-logo">
  </ion-card>
    <div class="title">
    <h1>OBET'S APARTMENT</h1>
          <p>Php9, 000</p>
          <p>Uranus Street</p>
          <p>Apartment<br></p>
    </div>
    <div class="ion-margin-top">
      <ion-button block class="ion-margin-top"(click)="ViewDetails8()" fill="outline" color="light">VIEW DETAILS</ion-button>
    </div>

    <!--APARTMENT10-->
  <div class="ion-padding ion-text-center"></div>
  <ion-card>
    <img src="assets/APART10/A10.1.jpg" alt="A10.1-logo">
  </ion-card>
    <div class="title">
    <h1>TAMARA BOARDING HOUSE</h1>
          <p>Php8, 000</p>
          <p>Star Street</p>
          <p>Boarding House<br></p>
    </div>
    <div class="ion-margin-top">
      <ion-button block class="ion-margin-top"(click)="ViewDetails9()" fill="outline" color="light">VIEW DETAILS</ion-button>
    </div>


    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="light">
          <ion-icon name="filter"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
          <!--you can add button here-->
          <ion-fab-button color="medium" href="http://localhost:8100/filter3"><!--link to next page at href-->
            <ion-icon name="home-outline"></ion-icon>
          </ion-fab-button>
  
          <ion-fab-button color="medium" href="http://localhost:8100/filter2"><!--link to next page at href-->
            <ion-icon name="navigate-circle-outline"></ion-icon>
          </ion-fab-button>
  
          <ion-fab-button color="medium" href="http://localhost:8100/filter"><!--link to next page at href-->
            <ion-icon name="logo-usd"></ion-icon>
          </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  
  


</ion-content>
